.modal-review {
  display: none; /* Hidden by default */
  box-sizing: border-box;
  background-color: rgba(0,0,0,0.5);
  bottom: 0;
  left: 0;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10000;
}

@keyframes modal {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#review-display {
  transform: translateY(0);
  height: auto;
  margin: 0 auto 0.5rem auto;
  min-height: 613px;
  position: relative;
  color: #444;
  font-weight: 300;
  height: 100%;
  margin: 0 auto;
  max-width: 100%;
  background: #fff;
  box-sizing: inherit;
  display: block;
  font-size: 1rem;
  font-family: "Source Sans Pro",Arial;
  width: 792px;
  transform: translateY(0);
  height: auto;
  margin: 0 auto 0.5rem auto;
  min-height: 613px;
  position: relative;
  transform: translateY(0);
  opacity: 1;
}

#review-header {
  background-image: url('https://images.media-allrecipes.com/userphotos/560x315/4548620.jpg');

}

#header {
  font-weight: 200;
  box-sizing: inherit;
  font-size: 1.125rem;
  color: #fff;
  padding: 10px 50px 10px 8px;


}

.user {
  display: inline-block;
  padding-top: 1rem;
  width: 80%;
  color: #2d2d2d;
  align-items: center;
}

.rating-and-date {
  border-top: 1px solid #e6e6e6;
  clear: both;
  float: left;
  margin-top: 0.75rem;
  padding-top: 0.75rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  box-sizing: border-box;
}

.rating {
  display: inline-block;
  width: 88px;
  height: 16px;
  position: relative;
  box-sizing: border-box;
}

.star {
  display: inline-block;
  height: 16px;
}

.sort {
  color: #fff;
  cursor: pointer;
  font-weight: lighter;
  padding: 11px 20px 11px 15px;
  text-align: center;
  display: inline-block;
  font-family: "Source Sans Pro",Arial;
  font-size: 1rem;

}

.travel {
  margin: 5px auto 0 0;
  text-align: center;
  color: #444;
  font-weight: 300;
  font-family: "Source Sans Pro",Arial;
  font-size: 1rem;
  width: 100%;
  float: left;
  height: 100%;
  padding-bottom: 1rem;
  display: block;

}

.prev {
  float: none;
  background-color: #f2f2f2;
  color: #4d4d4d;
  cursor: pointer;
  display: inline-block;
  height: 2.8rem;
  line-height: 2.8rem;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 147px;
  border-radius: 5px;
  position: static;
  margin: 5px 5px 0 0;

}

.next {
  background-color: #f2f2f2;
  color: #4d4d4d;
  cursor: pointer;
  display: inline-block;
  height: 2.8rem;
  line-height: 2.8rem;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 147px;
  border-radius: 5px;
  position: static;
  margin: 5px 5px 0 0;
float: none;
}

.user-data {
  display: flex;
  align-items: center;
  float: left;
  left: -5px;
  top: 0;
  position: relative;
  box-sizing: inherit;
  list-style: none;
  margin: 0;
  padding: 0;
}

.data-text {
  font-size: .875rem;
  vertical-align: text-top;
  display: inline-block;
  box-sizing: inherit;
}

.user-icon {
  border-radius: 50%;
  float: left;
  height: 36px;
  width: 36px;
}

.username {
  font-size: 13px;
  margin: 0;
}

.favorites-icon {
  display: inline-block;
  background-position: 90.8641975308642% 85.75069252077563%;
  width: 28px;
  height: 29px;
  background-image: url(sprite.css.svg);
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  transform: scale(.75, .75);
  box-sizing: inherit;
}

.followers-icon {
  background-position: 90.8641975308642% 77.7174515235457%;
  display: inline-block;
  width: 28px;
  height: 29px;
  background-image: url(sprite.css.svg);
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  transform: scale(.75, .75);
  box-sizing: inherit;
}

.made-icon {
  background-position: 90.8641975308642% 93.78393351800554%;
  display: inline-block;
  width: 28px;
  height: 29px;
  background-image: url(sprite.css.svg);
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
  transform: scale(.75, .75);
  box-sizing: inherit;
}

.submit-date {
  font-size: .875rem;
  color: gray;
  margin-left: 10px;
  vertical-align: middle;
  display: inline;
  font-style: italic;
  font-weight: 300;

}

.review-text {
  line-height: 21px;

  font-size: 1rem;
  margin: 0 0 1rem;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-family: "Source Sans Pro",Arial;

}

.line {
  font-size: 1rem;
  color: #2d2d2d;
  font-family: "Source Sans Pro",Arial;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  font-weight: 300;
}

.share-text {
  position: absolute;
  font-size: .75rem;
  left: 0;
  text-align: center;
  top: 22px;
  width: 100%;
  box-sizing: inherit;
}

.share-icon {
  transform: scale(.7, .7);
  display: block;
  box-sizing: inherit;
  width: 28px;
  height: 32.2px;
  background-position: 90.8641975308642% 37.11570709893796%;
  background-image: url(sprite.css.svg);
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.share {
  display: block;
  float: right;
  height: 34px;
  position: relative;
  right: 0;
  top: 74px;
  width: 34px;
  line-height: 42px;
  text-align: center;
  border-radius: 50%;
  border: solid 1px #cfcfcf;
  cursor: pointer;
  font-family: "Source Sans Pro",Arial;
  box-sizing: inherit;
}

.number-likes {
  font-size: .75rem;
  position: absolute;
  text-align: center;
  top: 22px;
  width: 100%;
  box-sizing: inherit;
  display: block;
  line-height: 42px;
}

.likes-icon {
  display: inline-block;
  margin-top: 2px;
  box-sizing: inherit;
  width: 21.4px;
  height: 25.6px;
  background-position: 98.66375121477162% 14.193194291986828%;
  background-image: url(sprite.css.svg);
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.likes {
  display: block;
  float: right;
  height: 34px;
  margin-top: 14px;
  position: relative;
  right: 40px;
  width: 34px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  line-height: 42px;
  text-align: center;
  border: solid 1px #cfcfcf;
  box-sizing: inherit;
}

.user-interact {
  display: inline-block;
}

.review-page {
  clear: both;
  margin-top: 20px;
  position: relative;
  display: block;
  font-size: .8888888889rem;
  color: #2d2d2d;
  font-family: "Source Sans Pro",Arial;
}

.main-header {
  margin-top: -9px;
  min-height: 58px;
  padding: 0.8rem 1% 0.5rem;
  margin-left: 2.5%;
  margin-right: 2.5%;
  width: 95%;
  font-size: 26px;
  border-bottom: 1px solid #e6e6e6;
  clear: both;
  color: #4d4d4d;
  font-weight: 300;
  margin: 0;
  font-family: "Source Sans Pro",Arial;
    
}

.read-all {
  position: absolute;
  right: 24px;
  top: 11px;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #2d2d2d;
  cursor: pointer;
  font-family: "Source Sans Pro",Arial;
  box-sizing: border-box;
  font-size: .8888888889rem;
}

.read-all-icon {
  transform: scale(.6, .6);
  margin-left: -5px;
  margin-right: -10px;
  display: inline-block;
  position: relative; 
  width: 46px;
  height: 46px;
  background-position: 56.71576227390181% 66.86046511627907%;
  background-image: url(sprite.css.svg);
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.num-reviews {
  font-size: 1.2rem;
  left: 8rem;
  top: 1.25rem;
  font-weight: 300;
  color: #7f7f7f;
  position: absolute;
}

.rate-section {
  margin-top: 0;
  clear: none;
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  padding-bottom: 0;
  padding-left: 20px;
  width: 100%;
  border-bottom: 1px solid #eee;
  box-shadow: inset 0 -55px 25px -7px #fafafa;
  min-height: 100px;
}

.rate-content {
  display: inline-block;
  padding-bottom: 22.5px;
  padding-top: 22.5px;
}

.review-bubble {
  background-color: #b3b3b3;
  color: #fff;
  display: inline-block;
  font-size: 1rem;
  font-weight: 300;
  height: 50px;
  line-height: 50px;
  margin-left: 0;
  min-width: 160px;
  padding-left: 25px;
  position: relative;
  right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 244px;
}

.review-bubble::before {
  background: #fff;
  border-bottom-right-radius: 50%;
  content: '';
  height: 27px;
  left: -2px;
  position: absolute;
  top: -1px;
  width: 27px;
}

.review-bubble::after {
  background: #fff;
  border-top-right-radius: 50%;
  bottom: -1px;
  content: '';
  height: 27px;
  left: -2px;
  position: absolute;
  width: 27px;
}

.short-review-container {
  clear: none;
  float: left;
  margin-left: 2.5%;
  margin-right: 0%;
  margin-top: 25px;
  width: 30%;
  position: relative;
}

.short-review {
  padding-top: 20px;
  background-color: transparent;
  padding-bottom: 0;
  float: left;
  padding: 1.5rem 1% 1.5rem 0;
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  bottom: -10px;
  content: '';
  height: 20px;
  left: 8%;
}

.read-more {
  cursor: pointer;
  transform: scale(.45, .45);
  display: inline-block;
  margin-left: -15px;
  margin-right: -10px;
  position: relative;
  vertical-align: middle;
  width: 46px;
  height: 46px;
  background-position: 59.43152454780362% 80.23255813953489%;
  background-image: url(sprite.css.svg);
  background-size: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: initial;
}

.read-more-text {
  color: #ff7e1a;
  font-size: 14px;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.close {
  cursor: pointer;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;
  font-weight: 600;
  position: absolute;
  right: 12px;
  top: 21px;
}

ol {
  list-style: none;
  padding: 0;
  float: right;
  margin: 1rem 0.5rem 0 0;
  width: 33%;
}

.full-bar {
  background-color: #fafafa;
  width: 53%;
}

.filled-bar {
  background-color: #b3b3b3;
  height: 17px;
}

.breakdown-rating {
  transform: scale(1.2, 1.2);
  position: relative;
  top: -1.2rem;
  margin-left: 59%;
}

.divider {
  margin-left: 0;
  clear: none;
  float: left;
  margin-right: 0%;
  margin-top: 25px;
  position: relative;
  width: 100%;
  height: 100px;
  display: block;
}

.page-sort-container {
  display: block;
  margin-left: 1.5rem;
}

.page-sort {
  font-size: 1rem;
  background-color: #dbdbda;
  color: #666;
  cursor: pointer;
  float: left;
  font-weight: lighter;
  padding: 11px 0;
  text-align: center;
  width: 24.25%;
}

.reviews-container {
  float: left;
  height: 400px;
  width:100%;
}

.reviews-table {
  box-sizing: border-box;
  height:100%;
}

.reviews-data {
  height: 30%;
  width:30%;
}

.show-more-reviews {
  float: left;
  text-align: center;
  width: 100%;
}

.show-button {
  background-color: #b3b3b3;
  height: 3.125rem;
  line-height: 3.125rem;
  border: 0 none;
  border-radius: 0;
  color: #fff;
  display: inline-block;
  max-width: 459px;
  padding: 0 5%;
  position: relative;
  text-align: center;
  white-space: nowrap;
  margin: 0.5rem 17.5% 1rem;
  width: 65%;
  margin-top: 30px;
  max-width: 300px;
  cursor: pointer;
}